html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

body{
  /* 背景画像を追加しよう */
background: url(jaemin.JPG);
  background-size: cover;

}

h1{
  padding-top: 40px;
}

p{
  margin-bottom: 70px;
  line-height: 5px
}

a{
  /*背景色を黒くしてみよう*/
background: #ffffff;
  /* 文字の色を白くしてみよう */
color: #000000;

  border-radius: 15px;     /*ボタンの先端が丸くなる*/
  padding: 15px;           /*ボタンの内側の隙間*/
  text-decoration: none;
}
